<div class="card">
    <div class="card-body">
        <h5 class="card-title">Login</h5>
        <div id="g_id_onload" data-client_id="335225243076-kmktfstqq9jfok2mre1cvch18rtvbii8.apps.googleusercontent.com"
            data-context="signin" data-ux_mode="redirect" data-login_uri="https://localhost:7233/login"
            data-auto_prompt="false">
        </div>

        <div class="g_id_signin" data-type="standard" data-shape="pill" data-theme="outline" data-text="signin_with"
            data-size="large" data-logo_alignment="center">
        </div>
    </div>
</div>

<script src="https://accounts.google.com/gsi/client" async defer></script>
