@model Microsoft.Extensions.Options.IOptions<Oakular.Patterns.Web.Options.Authentication>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Login</h5>
        <div id="g_id_onload" data-client_id="@Model.Value.ClientId"
            data-context="signin" data-ux_mode="redirect" data-login_uri="/login"
            data-auto_prompt="false">
        </div>

        <div class="g_id_signin" data-type="standard" data-shape="pill" data-theme="outline" data-text="signin_with"
            data-size="large" data-logo_alignment="center">
        </div>
    </div>
</div>

<script src="https://accounts.google.com/gsi/client" async defer></script>
